Repository iberi22/CDE-Orchestrator-MCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-doc-governance, validate-metadata, validate-test-structure

.pre-commit-config.yaml:

# Pre-commit hooks configuration for CDE Orchestrator MCP
# Install with: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # DOCUMENTATION GOVERNANCE
  - repo: local
    hooks:
      # Prevent .md files outside designated directories
      - id: check-doc-governance
        name: Check Documentation Governance Rules
        entry: bash scripts/validation/check-governance.sh
        language: system
        files: '\.md$'
        pass_filenames: true

      # Validate document metadata (YAML frontmatter)
      - id: validate-metadata
        name: Validate Document Metadata
        entry: python scripts/validation/validate-metadata.py --staged
        language: system
        files: '\.md$'
        pass_filenames: false

      # Validate test structure
      - id: validate-test-structure
        name: Validate Test Structure
        entry: python scripts/validation/validate-test-structure.py --staged
        language: system
        files: 'test_.*\.py$'
        pass_filenames: false

  # MARKDOWN LINTING
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        name: Markdown Lint
        args: ['--config=.markdownlintrc']
        exclude: |
          (?x)^(
            node_modules/|
            \.venv/|
            build/|
            dist/
          )

  # STANDARD HOOKS
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # Identify files that would conflict in merge
      - id: check-merge-conflict

      # Ensure files end with newline
      - id: end-of-file-fixer

      # Trailing whitespace (allow markdown double-space line breaks)
      - id: trailing-whitespace
        args: ['--markdown-linebreak-ext=md']

      # Check YAML
      - id: check-yaml
        args: ['--safe']

      # Check JSON
      - id: check-json

      # Check TOML
      - id: check-toml

      # Detect private keys
      - id: detect-private-key

  # PYTHON LINTING
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: '^(venv|\.venv|migrations)'

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']

# CONFIGURATION
default_language_version:
  python: python3.12

# Fail fast to give user quick feedback
fail_fast: false

chore: linting and formatting for v0.3.0
  .cde/issues/local-20251101-175526.md
  CHANGELOG.md
  agent-docs/execution/ai-assistant-config-implementation-complete.md
  agent-docs/sessions/session-implementation-finalization-2025-11.md
  demo_onboarding.ps1
  docs/INDEX.md
  specs/api/README.md
  specs/api/mcp-tools.md
  specs/design/ai-assistant-config-implementation.md
  specs/features/ai-assistant-config.md
  specs/features/onboarding-system.md
  specs/reviews/README.md
  specs/reviews/ai-assistant-config-review.md
  src/cde_orchestrator/adapters/filesystem_project_repository.py
  src/cde_orchestrator/ai_assistant_configurator.py
  src/cde_orchestrator/application/project_locator.py
  src/cde_orchestrator/application/project_registry.py
  src/cde_orchestrator/domain/entities.py
  src/cde_orchestrator/domain/exceptions.py
  src/cde_orchestrator/domain/ports.py
  src/cde_orchestrator/models.py
  src/cde_orchestrator/onboarding_analyzer.py
  src/cde_orchestrator/prompt_manager.py
  src/cde_orchestrator/recipe_manager.py
  src/cde_orchestrator/repo_ingest.py
  src/cde_orchestrator/service_connector.py
  src/cde_orchestrator/state_manager.py
  src/cde_orchestrator/validation.py
  src/cde_orchestrator/workflow_manager.py
  src/server.py
  test_onboarding_demo.py
  tests/integration/test_onboarding_directly.py
  tests/test_workflow_manager.py
  tests/unit/test_ai_assistant_configurator.py
  tests/unit/test_service_resilience.py
  tests/unit/test_state_validation.py
Due: check-doc-governance, validate-metadata, validate-test-structure

feat: migrate to Pydantic v2
  .cde/issues/local-20251101-180250.md
  src/cde_orchestrator/models.py
  src/cde_orchestrator/validation.py
Due: check-doc-governance, validate-metadata

refactor: migrate legacy code to hexagonal architecture
  .cde/issues/local-20251101-180406.md
  .cde/issues/local-20251101-181208.md
  .cde/issues/local-20251101-184959.md
  .cde/issues/local-20251101-185127.md
  .cde/issues/local-20251101-185250.md
  .cde/issues/local-20251101-185422.md
  .cde/issues/local-20251101-185541.md
  .cde/issues/local-20251101-190300.md
  .cde/issues/local-20251101-190306.md
  .cde/issues/local-20251101-190443.md
  .cde/issues/local-20251101-190658.md
  .cde/issues/local-20251101-190824.md
  pyproject.toml
  src/cde_orchestrator/adapters/prompt/__init__.py
  src/cde_orchestrator/adapters/prompt/prompt_adapter.py
  src/cde_orchestrator/adapters/serialization/__init__.py
  src/cde_orchestrator/adapters/serialization/models.py
  src/cde_orchestrator/adapters/state/__init__.py
  src/cde_orchestrator/adapters/state/state_adapter.py
  src/cde_orchestrator/adapters/workflow/__init__.py
  src/cde_orchestrator/adapters/workflow/workflow_adapter.py
  src/cde_orchestrator/ai_assistant_configurator.py
  src/cde_orchestrator/recipe_manager.py
  src/server.py
  tests/integration/test_onboarding_directly.py
  tests/test_workflow_manager.py
  tests/unit/application/test_project_locator.py
  tests/unit/test_ai_assistant_configurator.py
  tests/unit/test_domain_entities.py
  tests/unit/test_prompt_sanitization.py
  tests/unit/test_state_validation.py
Due: check-doc-governance, validate-metadata, validate-test-structure

refactor: complete hexagonal architecture migration
  .cde/issues/local-20251101-201336.md
  .cde/issues/local-20251101-201439.md
  .cde/issues/local-20251101-201606.md
  .cde/issues/local-20251101-201728.md
  .cde/issues/local-20251101-201808.md
  .cde/issues/local-20251101-202114.md
  src/cde_orchestrator/adapters/recipe/__init__.py
  src/cde_orchestrator/adapters/recipe/recipe_adapter.py
  src/cde_orchestrator/adapters/repository/__init__.py
  src/cde_orchestrator/adapters/repository/repository_adapter.py
  src/cde_orchestrator/adapters/service/__init__.py
  src/cde_orchestrator/adapters/service/service_adapter.py
  src/cde_orchestrator/application/ai_config/__init__.py
  src/cde_orchestrator/application/ai_config/ai_config_use_case.py
  src/cde_orchestrator/application/onboarding/__init__.py
  src/cde_orchestrator/application/onboarding/onboarding_use_case.py
  src/cde_orchestrator/domain/validation.py
  src/server.py
  test_onboarding_demo.py
  tests/integration/test_onboarding_directly.py
  tests/unit/test_ai_assistant_configurator.py
  tests/unit/test_service_resilience.py
Due: check-doc-governance, validate-metadata, validate-test-structure

feat: Complete MCP-first workflow orchestration system
  .cde/recipes/documentation/documentation-writer.poml
  .cde/recipes/engineering/quick-fix.poml
  .cde/recipes/research/deep-research.poml
  .github/copilot-instructions.md
  AGENTS.md
  COMO-USAR.md
  GEMINI.md
  RESUMEN-COMPLETO-2025-11-02.md
  agent-docs/execution/documentation-architecture-phase-1-2-complete.md
  agent-docs/execution/intelligent-agent-system-implementation-2025-11.md
  agent-docs/execution/workflow-orchestration-testing-implementation-2025-11.md
  agent-docs/research/documentation-architecture-llm-first-research.md
  docs/GEMINI.md
  requirements.txt
  specs/tasks/documentation-architecture-migration-plan.md
  src/cde_orchestrator/adapters/documentation/__init__.py
  src/cde_orchestrator/adapters/documentation/llm_cli_adapter.py
  src/cde_orchestrator/application/documentation/__init__.py
  src/cde_orchestrator/application/documentation/analyze_documentation_use_case.py
  src/cde_orchestrator/application/documentation/scan_documentation_use_case.py
  src/cde_orchestrator/application/orchestration/__init__.py
  src/cde_orchestrator/application/orchestration/skill_sourcing_use_case.py
  src/cde_orchestrator/application/orchestration/web_research_use_case.py
  src/cde_orchestrator/application/orchestration/workflow_selector_use_case.py
  src/cde_orchestrator/domain/documentation/__init__.py
  src/cde_orchestrator/domain/documentation/entities.py
  src/cde_orchestrator/domain/documentation/exceptions.py
  src/cde_orchestrator/domain/documentation/ports.py
  src/cde_orchestrator/recipe_manager.py
  src/cde_orchestrator/state_manager.py
  src/cde_orchestrator/workflow_manager.py
  src/server.py
  test_with_real_project.py
  tests/unit/application/__init__.py
  tests/unit/application/orchestration/__init__.py
  tests/unit/application/orchestration/test_workflow_selector_use_case.py
  tests/unit/domain/__init__.py
  tests/unit/domain/documentation/__init__.py
  tests/unit/domain/documentation/test_specification.py
Due: check-doc-governance, validate-metadata, validate-test-structure

feat: Jules integration + MCP progress tracking
  .gemini/settings.json
  .gemini/settings.json.orig
  .jules/README.md
  .jules/setup.sh
  GEMINI-INTEGRATION-GUIDE.md
  agent-docs/execution/jules-integration-phase1-complete-2025-11-03.md
  agent-docs/execution/mcp-progress-tracking-implementation-2025-11-02.md
  agent-docs/feedback/RESUMEN-HERRAMIENTAS-DOCUMENTACION-2025-11-03.md
  agent-docs/feedback/documentation-management-hexagonal-analysis-2025-11-03.md
  agent-docs/feedback/gemini-cli-integration-issues-2025-11-03.md
  agent-docs/feedback/mcp-tools-onboarding-feedback-2025-11-02.md
  agent-docs/feedback/vscode-mcp-progress-limitations-2025-11-02.md
  agent-docs/sessions/README-session-2025-11-02.md
  agent-docs/sessions/session-mcp-tools-testing-feedback-2025-11-02.md
  diagnose-mcp.ps1
  docs/jules-quick-start.md
  install-jules.ps1
  requirements.txt
  specs/design/multi-agent-orchestration-system.md
  src/cde_orchestrator/adapters/agents/__init__.py
  src/cde_orchestrator/adapters/agents/jules_async_adapter.py
  src/server.py
  test-gemini-mcp-onboarding.ps1
  test-mcp-direct.py
  test_progress_tracking.py
Due: check-doc-governance, validate-metadata, validate-test-structure

fix: Load .env file in server.py for JULES_API_KEY
  src/server.py
Due: none

feat: Add comprehensive unit tests for Phase 3B multi-agent orchestrator
  tests/unit/adapters/agents/__init__.py
  tests/unit/adapters/agents/test_agent_selection_policy.py
  tests/unit/adapters/agents/test_multi_agent_orchestrator_v2.py
  tests/unit/application/test_parallel_execution_use_case.py
Due: validate-test-structure

refactor: split server.py into modular mcp_tools package
  specs/features/server-refactoring-modular.md
  src/mcp_tools/__init__.py
  src/mcp_tools/_base.py
  src/mcp_tools/agents.py
  src/mcp_tools/documentation.py
  src/mcp_tools/onboarding.py
  src/mcp_tools/orchestration.py
  src/server.py
Due: check-doc-governance, validate-metadata

feat: Phase 3C - Multi-Agent Orchestrator complete with Jules SDK integration
  .cde/issues/local-20251103-231101.md
  AGENTS.md
  agent-docs/execution/phase-3b-testing-completion.md
  specs/features/server-refactoring-modular.md
  src/cde_orchestrator/adapters/agents/__init__.py
  src/cde_orchestrator/adapters/agents/agent_selection_policy.py
  src/cde_orchestrator/adapters/agents/code_cli_adapters.py
  src/cde_orchestrator/adapters/agents/multi_agent_orchestrator.py
  src/cde_orchestrator/application/parallel_execution_use_case.py
  src/mcp_tools/__init__.py
  src/mcp_tools/agents.py
  src/server.py
  src/server.py.backup
  tests/integration/adapters/agents/test_cli_adapters.py
  tests/unit/mcp_tools/test_agents.py
Due: check-doc-governance, validate-metadata, validate-test-structure

docs: Add Jules Phase 3C execution prompts - Master prompt + Quick start guide
  agent-docs/prompts/JULES_MASTER_PROMPT_PHASE3C.md
  agent-docs/prompts/JULIUS_PHASE3C_QUICK_START.md
Due: check-doc-governance, validate-metadata

docs: Phase 3C deployment summary - ready for Jules execution
  PHASE3C_DEPLOYMENT_SUMMARY.md
Due: check-doc-governance, validate-metadata

docs: Session complete - Phase 3C ready for Jules execution
  SESSION_COMPLETE.md
Due: check-doc-governance, validate-metadata

docs: Add Phase 3C final verification checklist
  PHASE3C_FINAL_VERIFICATION.md
Due: check-doc-governance, validate-metadata

docs: Add Phase 3C Executive Summary - complete mission overview
  PHASE3C_EXECUTIVE_SUMMARY.md
Due: check-doc-governance, validate-metadata

scripts: Add Phase 3C quick launch verification script
  PHASE3C_QUICK_LAUNCH.ps1
Due: none

docs: Agregar resumen de misión completada en español
  RESUMEN_MISION_COMPLETADA.md
Due: check-doc-governance, validate-metadata

scripts: Add Python readiness check script for Phase 3C
  phase3c_check.py
Due: none

refactor: Reorganizar documentaci\u00f3n seg\u00fan DOCUMENTATION_GOVERNANCE
  .cde/scripts/phase3c-check.py
  .cde/scripts/phase3c-launch.ps1
  agent-docs/execution/execution-phase3c-deployment-2025-11-04.md
  agent-docs/execution/execution-phase3c-summary-2025-11-04.md
  agent-docs/execution/execution-phase3c-verification-2025-11-04.md
  agent-docs/execution/resumen-mision-completada-2025-11-04.md
  agent-docs/execution/session-phase3c-complete-2025-11-04.md
Due: check-doc-governance, validate-metadata

chore: governance infrastructure - validation script, enhanced copilot/agents guidance, pre-commit integration
  .cde/issues/local-20251104-040408.md
  .cde/issues/local-20251104-040840.md
  .cde/scripts/phase3c-check.py
  .cde/scripts/phase3c-launch.ps1
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  AGENTS.md
  agent-docs/execution/execution-phase3c-deployment-2025-11-04.md
  agent-docs/execution/execution-phase3c-summary-2025-11-04.md
  agent-docs/execution/execution-phase3c-verification-2025-11-04.md
  agent-docs/execution/resumen-mision-completada-2025-11-04.md
  agent-docs/execution/session-phase3c-complete-2025-11-04.md
  scripts/validation/validate-docs.py
Due: check-doc-governance, validate-metadata

feat(dsms): implement Phase 1 - Dynamic Skill Management System core
  .cde/issues/local-20251102-175431.md
  .cde/issues/local-20251103-231101.md
  .cde/issues/local-20251104-040408.md
  .cde/issues/local-20251104-040840.md
  .cde/prompts/00_onboarding.poml
  .cde/prompts/01_define.poml
  .cde/prompts/02_decompose.poml
  .cde/prompts/03_design.poml
  .cde/prompts/04_implement.poml
  .cde/prompts/05_test.poml
  .cde/prompts/06_review.poml
  .cde/recipes/documentation/documentation-writer.poml
  .cde/recipes/engineering/ai-engineer.poml
  .cde/recipes/engineering/quick-fix.poml
  .cde/recipes/product/sprint-prioritizer.poml
  .cde/recipes/project-management/studio-producer.poml
  .cde/recipes/research/deep-research.poml
  .cde/scripts/phase3c-check.py
  .cde/scripts/phase3c-launch.ps1
  .cde/workflow.yml
  .pre-commit-config.yaml
  agent-docs/execution/execution-dsms-phase1-2025-11-04.md
  scripts/validation/validate-docs.py
  specs/templates/SKILL.md
  specs/templates/SKILL_TEMPLATE.md
  src/cde_orchestrator/skills/__init__.py
  src/cde_orchestrator/skills/detector.py
  src/cde_orchestrator/skills/manager.py
  src/cde_orchestrator/skills/models.py
  src/cde_orchestrator/skills/storage.py
Due: check-doc-governance, validate-metadata

feat(jules): add setup script and documentation for Jules AI Agent
  JULES_SETUP.md
  pyproject.toml
  setup.sh
Due: check-doc-governance, validate-metadata

feat(bedrock): Complete AWS Bedrock + Aider integration architecture
  agent-docs/execution/execution-dsms-phase1-2025-11-04.md
  scripts/aws-setup/README-AIDER.md
  scripts/aws-setup/aider_bedrock_poc.py
  scripts/aws-setup/setup-aider-bedrock.ps1
  scripts/aws-setup/setup-aws-bedrock.ps1
  specs/design/DECISION-AIDER-BEDROCK.md
  specs/design/bedrock-agent-integration-strategy.md
  specs/templates/SKILL.md
Due: check-doc-governance, validate-metadata

docs(amazon-q): Add comprehensive Amazon Q integration specification and task roadmap
  agent-docs/execution/execution-amazon-q-integration-2025-11-04.md
  agent-docs/tasks/amazon-q-integration-roadmap.md
  specs/features/amazon-q-integration.md
Due: check-doc-governance, validate-metadata

docs(jules): Add complete context package for Amazon Q implementation
  JULES-AMAZON-Q-CONTEXT.md
Due: check-doc-governance, validate-metadata

docs(integration): Add final git integration status report
  agent-docs/execution/git-integration-complete-2025-11-04.md
Due: check-doc-governance, validate-metadata

feat(config): Add Amazon Q memory bank rules and AWS Bedrock setup scripts
  .amazonq/rules/memory-bank/guidelines.md
  .amazonq/rules/memory-bank/product.md
  .amazonq/rules/memory-bank/structure.md
  .amazonq/rules/memory-bank/tech.md
  .amazonq/rules/rulegeneral.md
  REPOSITORY-READY-FOR-JULES.md
  scripts/aws-setup/README-CLOUDCODE.md
  scripts/aws-setup/cloudcode-test.ps1
  scripts/aws-setup/launch-bedrock.ps1
  scripts/aws-setup/open-ide-bedrock.ps1
  scripts/aws-setup/output-sonnet45.json
  scripts/aws-setup/setup-cloudcode-bedrock.ps1
  scripts/aws-setup/test-bedrock-direct.ps1
  scripts/aws-setup/test-bedrock-pro.ps1
  scripts/aws-setup/test-payload.json
Due: check-doc-governance, validate-metadata

docs(final): Add comprehensive final repository status report
  FINAL-REPOSITORY-STATUS.md
Due: check-doc-governance, validate-metadata

feat(governance): Strengthen AI agent rules with token optimization + clean root directory
  .amazonq/rules/memory-bank/token-optimization.md
  .amazonq/rules/rulegeneral.md
  .github/copilot-instructions.md
  agent-docs/execution/execution-final-status-2025-11-04.md
  agent-docs/execution/execution-repository-ready-2025-11-04.md
  agent-docs/sessions/session-final-complete-2025-11-04.md
  agent-docs/sessions/session-jules-amazon-q-context-2025-11.md
  docs/como-usar.md
  docs/gemini-integration-guide.md
  docs/jules-setup.md
  specs/governance/DOCUMENTATION_GOVERNANCE.md
Due: check-doc-governance, validate-metadata

chore: Remove obsolete files related to async repository analysis, setup scripts, and MCP onboarding tests
  Dockerfile
  demo_onboarding.ps1
  diagnose-mcp.ps1
  install-jules.ps1
  research-async-patterns.txt
  setup.sh
  test-gemini-mcp-onboarding.ps1
  test-mcp-direct.py
  test_onboarding_demo.py
  test_progress_tracking.py
  test_with_real_project.py
Due: validate-test-structure

docs(governance): Add quick manual and reference guide for governance rules
  docs/GOVERNANCE_QUICK_MANUAL.md
Due: check-doc-governance, validate-metadata

docs(governance): Add master index linking all governance documentation
  docs/GOVERNANCE_INDEX.md
Due: check-doc-governance, validate-metadata

chore(gitignore): Add Rust target dir, coverage patterns, and local CDE issues
  .gitignore
Due: none

feat(rust-core): Document Rust + PyO3 integration approach and implementation status
  pyproject.toml
  scripts/setup/setup-rust.ps1
  specs/design/rust-pyo3-integration-approach.md
  src/cde_orchestrator/application/documentation/scan_documentation_use_case.py
  src/rust_core/Cargo.lock
  src/rust_core/Cargo.toml
  src/rust_core/src/documentation.rs
  src/rust_core/src/filesystem.rs
  src/rust_core/src/lib.rs
  src/rust_core/src/text.rs
  tests/integration/test_fallback.py
  tests/integration/test_rust_core.py
  tests/performance/benchmark_results.json
  tests/performance/benchmark_scan_docs.py
Due: check-doc-governance, validate-metadata, validate-test-structure

feat(integrate): save Jules sessions from 4 phases (PHASE 2-5) for integration
  .cde/integrated_sessions/12339304137927824532.json
  .cde/integrated_sessions/2738444897899046925.json
  .cde/integrated_sessions/443657936940575260.json
  .cde/integrated_sessions/6550513765712426553.json
  .cde/integrated_sessions_manifest.json
Due: none

docs(review): add final integration review report for Jules sessions + meta-orchestration
  agent-docs/execution/INTEGRATION-REVIEW-FINAL-2025-11-05.md
Due: check-doc-governance, validate-metadata

feat: HARCOS-AI deployment infrastructure - Complete 2025 monetization package
  .github/FUNDING.yml
  .github/HARCOS_BRANDING_GUIDELINES.md
  .github/HARCOS_FINAL_SUMMARY.txt
  .github/HARCOS_LANDING_PAGE.html
  .github/HARCOS_LANDING_PAGE_DEPLOYMENT.md
  .github/HARCOS_ORGANIZATION_SETUP.md
  .github/README_HARCOS_DEPLOYMENT.txt
  .github/START_HERE.md
  IMPLEMENTATION_PLAN_2025-11-05.md
  LICENSE
  LICENSE-AGPL-3.0
  LICENSE-DUAL.md
  README.md
  agent-docs/execution/HARCOS_DEPLOYMENT_NEXT_STEPS.md
  agent-docs/execution/HARCOS_DEPLOYMENT_PACKAGE_INDEX.md
  agent-docs/execution/HARCOS_QUICK_START.md
  agent-docs/execution/enterprise-services-analysis-2025-11-05.md
  agent-docs/execution/execution-harcos-deployment-complete-2025-11-05.md
  agent-docs/execution/fair-source-implementation-2025-11-05.md
  agent-docs/execution/license-features-implementation-2025-11-05.md
  agent-docs/execution/rapid-donation-strategy-2025-11-06.md
  agent-docs/research/cde-orchestrator-comparative-analysis-2025-11-04.md
  agent-docs/sessions/session-enterprise-model-evaluation-2025-11-05.md
  agent-docs/sessions/session-features-license-implementation-2025-11-05.md
  docs/MODERN_DEPLOYMENT_GUIDE_2025.md
  docs/SPONSORS.md
  scripts/deployment/deploy-harcos.ps1
  specs/features/advanced-research-features.md
Due: check-doc-governance, validate-metadata
